.root {
  position: relative;
  width: 100%;
  z-index: 101;
  background-size: cover;
  zoom: 1;
}
.root:before,
.root:after {
  content: " ";
  display: table;
}
.root:after {
  clear: both;
}

@media(min-width: 1024px) {
  .root {
    height: 150px;
  }
}

.nav {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  color: #2C3235;
  text-align: center;
  zoom: 1;
}
.nav:before,
.nav:after {
  content: " ";
  display: table;
}
.nav:after {
  clear: both;
}

.title {
  font-family: 'Monofett', sans-serif;
  font-size: 12vw;
  margin-top: -10px;
  margin-bottom: 0;
  transition: 0.1s;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media(min-width: 1024px) {
  .title {
    font-size: 10vw;
    padding-top: auto;
    padding-bottom: 15px;
    margin-top: 0;
    line-height: 100px;
    font-size: 129px;
  }
}

.title a {
  text-decoration: none;
  color: #2C3235;
  transition: 0.1s;
}

.caption {
  display: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #FEFEFE;
  text-transform: uppercase;
  transition: 0.1s;
}

@media(min-width: 1024px) {
  .caption {
    display: block;
    color: #2C3235;
  }
}
