@import url('../variables.less');

.root {
  position: relative;
  .clearfix();
  width: 100%;
  z-index: 101;
  background-size: cover;

  @media(@tablet) {
    height: 150px;
  }

  .nav {
    position: relative;
    .clearfix();
    padding-left: 15px;
    padding-right: 15px;
    color: @tx-dark;
    text-align: center;
  }
  .title {
    font-family: @font-sans-serif;
    font-size: 10vw;
    margin-top: 0;
    margin-bottom: 0;
    .transition(0.1s);

    @media(@tablet) {
      padding-bottom: 15px;
      line-height: 100px;
    }

    @media(@desktop) {
      font-size: 135px;
    }

    a {
      text-decoration: none;
      color: @tx-dark;
      .transition(0.1s);
    }
  }
  .caption {
    display: none;
    font-family: @font-serif;
    font-weight: 400;
    font-size: 22px;
    color: @tx-light;
    text-transform: uppercase;
    .transition(0.1s);
    @media(@tablet) {
      display: block;
    }
  }
}