@import url('../variables.less');

.site-header {
  position: fixed;
  width: 100%;
  z-index: 101;
  background-size: cover;
  .clearfix();
  .box-shadow(0px 2px 7px -1px rgba(0,0,0,0.4));

  @media(min-width: @tablet) {
    position: relative;
  }
  .site-nav {
    position: relative;
    padding: 2.5px 15px 2.5px 15px;
    color: @tx-header;
    text-align: center;
    .clearfix();
  }
  .site-nav__header {
    padding-bottom: 5px;
    font-family: @sansserif;
    font-size: 10vw;
    line-height: 80%;
    margin-top: 0;
    margin-bottom: 0;
    .transition(0.3s);
    @media(min-width: @tablet) {
      padding-bottom: 15px;
    }

    @media(min-width: @desktop) {
      padding-bottom: 0;
    }

    a {
      text-decoration: none;
      color: @tx-main-dark;
      .transition(0.5s);
    }
  }
  .site-nav__subhead {
    display: none;
    font-family: @serif;
    font-weight: 400;
    font-size: 1.8vw;
    line-height: 2vw;
    color: @tx-main-light;
    text-transform: uppercase;
    .transition(0.3s);
    @media(min-width: @desktop) {
      display: block;
    }
  }
}

.site-nav__mobile {
  position: absolute;
  float: right;
  top: 0;
  right: 15px;
  font-size: 5vw;
  margin-top: 10px;
  margin-bottom: 25px;
  cursor: pointer;

  @media(min-width: @tablet) {
    display: none;
  }
}

.site-nav__menu {
  height: 40px;
  display: none;
  &.open {
    display: block;
  }
  @media(min-width: @tablet) {
    display: block;
  }
}

.site-nav__authors {
  width: 100%;
  text-align: right;
}

.site-nav__author {
  display: inline-block;
  position: relative;
  vertical-align: top;
  .site-nav__author-item {
    margin-left: 15px;
    cursor: pointer;
    .fa {
      font-size: 11px;
      vertical-align: middle;
    }
  }
  .site-nav__sublist {
    display: none;
    position: absolute;
    right: 0;
    top: 25px;

    background-size: cover;
    width: 100%;
    padding-top: 15px;
    border-radius: 3px;
    width: 100px;
    .box-shadow(2px 6px 14px -5px rgba(0, 0, 0, 0.2));
    a {
      color: @tx-header;
    }
    &.js-menu.active {
      display: inline-block;
    }
  }
  .site-nav__sublist-item {
    padding-right: 15px;
    padding-bottom: 15px;
  }
}