<div class="container site-footer">
  <div class="inner">
    <div class="footer-wrapper">
      <p class="meta">2032 &copy; <a href="/">evturn.com</a> &bull; All rights reserved</p>
    </div>
  </div>
</div>