<header class="site-header">
  <nav class="site-nav">
    <h1 class="site-nav__header"><a href="/">Marshallz Blog</a></h1>
    <h3 class="site-nav__subhead">Welcome! And more importantly, Welcome to Marshallz Blog!</h3>
    <div class="site-nav__mobile">
      <div><span class="fa fa-bars"></span></div>
    </div>
  </nav>
</header>