<header class="site-header">
  <nav class="site-nav">
    <h1 class="site-nav__header"><a href="/">Marshallz Blog</a></h1>
    <h3 class="site-nav__subhead">Welcome! And more importantly, Welcome to Marshallz Blog!</h3>
    <div class="site-nav__mobile">
      <div><span class="fa fa-bars"></span></div>
    </div>
    <div class="site-nav__menu">
      <div class="site-nav__authors">
        {{#each authors}}
        <ul class="site-nav__author">
          <li class="site-nav__author-item">{{username}} <span class="fa fa-chevron-down"></span>
          <li class="site-nav__sublist js-menu">
            <ul>
              <li class="site-nav__author-item site-nav__sublist-item"><a href="/author/{{username}}/posts">Posts</a></li>
              <li class="site-nav__author-item site-nav__sublist-item"><a href="{{social.twitter}}" target="_blank">Twitter</a></li>
            </ul>
          </li>
        </ul>
        {{/each}}
      </div>
    </div>
  </nav>
</header>