{
  "presets": [
    "es2015",
    "react",
    "evturn"
  ],
  "plugins": [
    "add-module-exports"
  ],
  "env": {
    "development": {
      "compact": false
    },
    "production": {
      "compact": "auto"
    }
  }
}