{
  "parser": "babel-eslint",
  "plugins": ["react"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "strict": [0, "never"],
    "no-var": 0,
    "no-shadow": 0,
    "no-shadow-restricted-names": 0,
    "no-unused-vars": [0, {
      "vars": "local",
      "args": "after-used"
    }],
    "no-use-before-define": 0,
    "comma-dangle": [0, "never"],
    "no-cond-assign": [0, "always"],
    "no-console": 0,
    "no-debugger": 0,
    "no-alert": 0,
    "no-constant-condition": 0,
    "no-dupe-keys": 0,
    "no-duplicate-case": 0,
    "no-empty": 0,
    "no-ex-assign": 0,
    "no-extra-boolean-cast": 0,
    "no-extra-semi": 0,
    "no-func-assign": 0,
    "no-inner-declarations": 0,
    "no-invalid-regexp": 0,
    "no-irregular-whitespace": 0,
    "no-obj-calls": 0,
    "no-reserved-keys": 0,
    "no-sparse-arrays": 0,
    "no-unreachable": 0,
    "use-isnan": 0,
    "block-scoped-var": 0,
    "eol-last": 0,
    "no-multi-spaces": 0,
    "consistent-return": 0,
    "curly": [0, "multi-line"],
    "default-case": 0,
    "dot-notation": [0, {
      "allowKeywords": true
    }],
    "eqeqeq": 0,
    "guard-for-in": 0,
    "no-caller": 0,
    "no-else-return": 0,
    "no-eq-null": 0,
    "no-eval": 0,
    "no-extend-native": 0,
    "no-extra-bind": 0,
    "no-fallthrough": 0,
    "no-floating-decimal": 0,
    "no-implied-eval": 0,
    "no-lone-blocks": 0,
    "no-loop-func": 0,
    "no-multi-str": 0,
    "no-native-reassign": 0,
    "no-new": 0,
    "no-new-func": 0,
    "no-new-wrappers": 0,
    "no-octal": 0,
    "no-octal-escape": 0,
    "no-param-reassign": 0,
    "no-proto": 0,
    "no-redeclare": 0,
    "no-return-assign": 0,
    "no-script-url": 0,
    "no-self-compare": 0,
    "no-sequences": 0,
    "no-throw-literal": 0,
    "no-with": 0,
    "radix": 0,
    "vars-on-top": 0,
    "wrap-iife": [0, "any"],
    "yoda": 0,
    "indent": [0, 2],
    "brace-style": [0,
      "1tbs", {
      "allowSingleLine": true
    }],
    "quotes": [
      0, "single", "avoid-escape"
    ],
    "camelcase": [0, {
      "properties": "never"
    }],
    "comma-spacing": [0, {
      "before": false,
      "after": true
    }],
    "comma-style": [0, "last"],
    "func-names": 0,
    "key-spacing": [0, {
        "beforeColon": false,
        "afterColon": true
    }],
    "new-cap": [0, {
      "newIsCap": true
    }],
    "no-multiple-empty-lines": [0, {
      "max": 2
    }],
    "no-nested-ternary": 0,
    "no-new-object": 0,
    "no-spaced-func": 0,
    "no-trailing-spaces": 0,
    "no-wrap-func": 0,
    "no-underscore-dangle": 0,
    "one-var": [0, "never"],
    "padded-blocks": [0, "never"],
    "semi": [0, "always"],
    "semi-spacing": [0, {
      "before": false,
      "after": true
    }],
    "space-after-keywords": 0,
    "space-before-blocks": 0,
    "space-before-function-paren": [0, "never"],
    "space-infix-ops": 0,
    "space-return-throw-case": 0,
    "spaced-line-comment": 0,
    "react/display-name": 0,
    "react/jsx-boolean-value": 0,
    "react/jsx-quotes": [0, "double"],
    "react/jsx-no-undef": 0,
    "react/jsx-sort-props": 0,
    "react/jsx-sort-prop-types": 0,
    "react/jsx-uses-react": 0,
    "react/jsx-uses-vars": 0,
    "react/no-did-mount-set-state": [0, "allow-in-func"],
    "react/no-did-update-set-state": 0,
    "react/no-multi-comp": 0,
    "react/no-unknown-property": 0,
    "react/prop-types": 0,
    "react/react-in-jsx-scope": 0,
    "react/self-closing-comp": 0,
    "react/wrap-multilines": 0,
    "react/sort-comp": [0, {
      "order": [
        "displayName",
        "constructor",
        "mixins",
        "statics",
        "propTypes",
        "getDefaultProps",
        "getInitialState",
        "componentWillMount",
        "componentDidMount",
        "componentWillReceiveProps",
        "shouldComponentUpdate",
        "componentWillUpdate",
        "componentWillUnmount",
        "/^_on.+$/",
        "/^on.+$/",
        "/^get.+$/",
        "/^render.+$/",
        "render"
      ]
    }]
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "generators": true,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "spread": true,
    "superInFunctions": true,
    "templateStrings": true,
    "jsx": true
  }
}
