<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Marshallz Blog</title>
  <link href='http://fonts.googleapis.com/css?family=Monofett' rel='stylesheet' type='text/css'>
  <link rel="icon" type="image/png" href="img/favicon.png">
  <link rel="stylesheet" type="text/css" href="css/vendor.css">
  <link rel="stylesheet" type="text/css" href="css/less.css">
</head>
<body>

  {{{ body }}}

<script src="js/vendor.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>