.posts {
  position: relative;
  width: 100%;
  zoom: 1;
}
.posts:before,
.posts:after {
  content: " ";
  display: table;
}
.posts:after {
  clear: both;
}

@media(min-width: 1024px) {
  .posts {
    float: left;
    width: 70%;
  }
}
