.pagination {
  display: block;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  width: 100%;
  zoom: 1;
}
.pagination:before,
.pagination:after {
  content: " ";
  display: table;
}
.pagination:after {
  clear: both;
}

.pagination a {
  color: #2C3235;
}

.back:before {
  content: "Back︎";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.next:before {
  content: "︎Next";
}

.off {
  composes: tx-gray from '../../containers/App/styles.css';
  font-weight: 400;
  cursor: default;
}

.btns {
  margin: 10px auto;
  width: 100%;
  text-align: center;
}

.btn {
  position: relative;
  display: inline-block;
  font-size: 26px;
  width: 120px;
  height: 40px;
  composes: bg-light from '../../containers/App/styles.css';
  margin-right: 10px;
  border-radius: 3px;
  text-align: center;
  vertical-align: top;
  font-weight: 600;
  font-family: 'Open Sans';
}


.btn a {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  transition: 0.3;
  color: #2C3235;
}

.btn a:hover {
  color: #637077;
  transition: ease 0.3s all;
}

.btn a:focus {
  color: #2C3235;
}

.btn span {
  line-height: 40px;
  font-size: 15px;
}


@media(min-width: 1024px) {
  .btn {
    margin-right: 50px;
  }
}
