.media {
  position: relative;
  background-color:  #F1F1F1;
  height: 200px;
  width: 100%;
  overflow: hidden;
}

@media (min-width: 1024px) {
  .media {
    height: 330px;
  }
}

.img {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 110%;
  min-height: 110%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: initial;
  transition-delay: initial;
}

.title {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: rgba(0,0,0,0.8);
  font-size: 28px;
  line-height: 0.93;
  letter-spacing: -0.022em;
  text-align: left;
}

@media (min-width: 1024px) {
  .title {
    font-size: 3vw;
  }
}

.body {
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: -0.004em;
  font-family: 'Open Sans', sans;
  font-weight: 300;
  font-style: normal;
  color: #2C3235;
}

@media (min-width: 1024px) {
  .body {
    font-size: 18px;
    line-height: 1.5em;
  }
}