<section id="detail">
  <div class="blog-posts">
    <div class="container post-item">
      <div class="inner">
        <div class="img-container">
          <img class="img-scale avatar" src='img/av.png'>
          </div>
        <div class="content-container">
          <p class="title-text">{{title}}</p>
          <p class="meta" data-livestamp="{{ts this.timestamp}}"></span></p>
          {{#if image}}
            <div class="image-container" style="background-image: url('{{image}}')";></div>
          {{/if}}
          <p class="body-text">{{body}}</p>
          <p class="meta sig">by <a href="http://twitter.com/marshallzBlog">Marshall</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="inner">
    <div class="bio-wrapper">
      <div class="img-container">
        <img class="img-scale avatar" src='img/av.png'>
      </div>
      <div class="content-container">
        <p class="meta dark">Marshall has lived on four continents and traveled to more than 150 countries, graduated from Harvard, studied law at Oxford University as a Rhodes Scholar, and then studied Arabic in Cairo. In his free time also teaches at Yale University, and is a member of the American Academy of Arts and Sciences</p>
      </div>
    </div>
  </div>
</div>
<br/>