<div class="blog-posts">
  {{>pagination}}
</div>
<div class="container pagination">
  <div class="inner">
    <div class="kurt-loader"></div>
    <div id="pagination" data-page={{page}}></div>
  </div>
</div>
