.site {
  min-height: 100vh;
  width: 100%;
  zoom: 1;
  background-repeat: repeat;
}
.site:before,
.site:after {
  content: " ";
  display: table;
}
.site:after {
  clear: both;
}

.content {
  position: relative;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 30px;
  zoom: 1;
  background-repeat: repeat;
}
.content:before,
.content:after {
  content: " ";
  display: table;
}
.content:after {
  clear: both;
}
