@import 'mixins.scss';
@import 'settings.scss';

.blog-posts {
  position: relative;
  padding-top: 65px;
  padding-bottom: 50px;
  @include clearfix();
  width: 100%;
  text-align: center;
  @media(min-width: $tablet) {
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    max-width: 750px;
  }
}

.pages {
  display: flex;
  width: 100%;
}

.page {
  font-size: 18px;
  cursor: pointer;
  display: inline-block;
  padding: 15px;
  margin: 0 auto;
  background: $bg-light;
  color: $tx-dark;
  border-radius: 3px;

  .selected {
    color: $tx-grey;
    font-size: 20px;
  }
}