.post-item-wrapper {

  .img-container {
    width: 100%;
    margin-top: 30px;
    text-align: center;
    background: transparent;
    .avatar {
      margin-left: auto;
      margin-right: auto;
      z-index: 1;
      margin-bottom: -50px;
    }
  }

  .content-container {
    padding: 60px 30px 30px;
    background-color: @white;
    .title-text {
      font-size: 22px;
      text-transform: uppercase;
    }
  }
}