<header id="site-head">
  <div id="site-head-content" class="inner">
    <h1 class="blog-title">Marshallz Blog</h1>
    <p class="blog-description">Welcome! And more importantly, Welcome to Marshallz Blog</p>
  </div>
</header>