  <script type="text/template" id="post-template">
    <div class="img-container">
      <img class="img-responsive avatar" src='img/av.png'>
    </div>
    <div class="content-container">
      <p class="title-text"><%= title %></p>
      <p class="meta">by Marshall &#183; <span data-livestamp="<%= moment(timestamp).unix() %>"></span></p>
      <p class="body-text"><%= body %></p>
    </div>
  </script>