  <script type="text/template" id="post-template">
    <div class="img-container">
      <img class="img-scale avatar" src='img/av.png'>
    </div>
    <div class="content-container">
      <p class="title-text"><%= title %></p>
      <p class="meta" data-livestamp="<%= moment(timestamp).unix() %>"></span></p>
      <p class="body-text"><%= body %></p>
      <p class="meta sig">by <a href="http://twitter.com/marshallzBlog">Marshall</a></p>
    </div>
  </script>