{{> _header }}
<div class="wrapper blog-posts"></div>
<div class="wrapper pagination">
  <div class="pagination-wrapper">

    <div class="kurt-loader"></div>
  </div>
</div>
{{> _bio }}
{{> _footer }}
{{> _post-template }}