<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Marshallz Blog</title>
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="img/png" href="img/favicon.png">
  <link rel="stylesheet" type="text/css" href="css/lib/screen.css">
  <!-- <link rel="stylesheet" type="text/css" href="css/lib/normalize.css"> -->
  <link rel="stylesheet" type="text/css" href="css/lib/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic|Open+Sans:700,400">
</head>
<body>

  <header id="site-head">
    <div id="site-head-content" class="inner">
      <h1 class="blog-title">Marshallz Blog</h1>
      <h2 class="blog-description">Welcome! And more importantly, Welcome to Marshallz Blog</h2>
    </div>
  </header>
  
  <div class="blog-posts"></div>



  <!-- blog-author -->
  <div class="container blog-author-footer">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center blog-author-description">
        <h4>Marshall</h4>
        <img class="blog-author" src='img/av.png'>
        <p>Marshall has lived on four continents and traveled to more than 150 countries, graduated from Harvard, studied law at Oxford University as a Rhodes Scholar, and then studied Arabic in Cairo. In his free time also teaches at Yale University, and is a member of the American Academy of Arts and Sciences</p>  
      </div>
    </div>
  </div>
  <br/>

  <!-- blog-footer -->
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
        <nav class="pagination" role="navigation">
          <a class="newer-posts" href="/">&larr; Newer Posts</a>
          <span class="page-number">Cool, thanks!</span>
          <a class="older-posts" href="/list">Older Posts &rarr;</a>
        </nav>
      </div>
    </div>
  </div>
  <footer class="blog-footer">
    <div class="inner">
      <section class="copyright"><a href="/">evturn.com</a> &copy; 2016 &bull; All rights reserved.</section>
    </div>
  </footer>




  <!-- UNDERSCORE TEMPLATES -->

  <script type="text/template" id="post-template">
    <div class="container post-container">
      <div class="row">
        <img class='post-author' src='img/av.png'>
        <div class="col-md-10 col-md-offset-1">
          <div class="text-center post-content">
            <h1 class="post-title"><%= title %></h1>
            <span class="post-meta">by Marshall &#183; </span>
            <span class="post-meta" data-livestamp="<%= moment(timestamp).unix() %>"></span>
            <p><%= body %></p>
          </div>
        </div>
      </div>
    </div>
  </script>
    
  <script src="js/lib/jquery.js"></script>
  <script src="js/lib/underscore.js"></script>
  <script src="js/lib/backbone.js"></script>
  <script src="https://cdn.firebase.com/js/client/2.2.2/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/backbonefire/0.5.1/backbonefire.min.js"></script>
  <script src="https://www.promisejs.org/polyfills/promise-6.1.0.js"></script>
  <script src="js/lib/promise-done-6.1.0.js"></script>
  <script src="js/lib/promise-done-6.1.0.min.js"></script>
  <script src="js/lib/moment.js"></script>
  <script src="js/lib/livestamp.js"></script>
  <script src="js/lib/bootstrap.js"></script>
  <script src="js/models/post.js"></script>
  <script src="js/models/api.js"></script>
  <script src="js/collections/posts.js"></script>
  <script src="js/views/blog-post.js"></script>
  <script src="js/views/blog-posts.js"></script>
  <script src="js/main.js"></script>
</body>
</html>