.profile {
  display: block;
  position: relative;
  padding: 15px;
  margin: 0 auto 15px;
  max-width: 750px;
  box-shadow: 0px 1px 2px -2px rgba(0,0,0,0.4);
  composes: bg-light from '../App/style.css';
}

.posts {
  position: relative;
  width: 100%;
  zoom: 1;
}
.posts:before,
.posts:after {
  content: " ";
  display: table;
}
.posts:after {
  clear: both;
}

@media(min-width: 1024px) {
  .posts {
    float: left;
    width: 70%;
  }
}

.social {
  color: #00ab6b;
}

.social span {
  height: 30px;
  width: 30px;
  line-height: 30px;
  font-size: 20px;
}

.name {
  font-family: Open Sans;
}

.bio {
  margin-left: 10px;
  display: inline-block;
  vertical-align: top;
}

.av {
  display: inline-block;
  position: relative;
  height: 75px;
  width: 75px;
  border-radius: 10px;
  vertical-align: top;
  overflow: hidden;
}
.av img {
  position: absolute;
  top: -35px;
  right: 0;
  left: -25px;
  bottom: 0;
  height: auto;
  width: 160%;
}
