@-webkit-keyframes enter__1TSRQ {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes enter__1TSRQ {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.site-header__Xb4nv {
  position: fixed;
  width: 100%;
  z-index: 101;
  background-size: cover;
  zoom: 1;
  box-shadow: 0px 2px 7px -1px rgba(0, 0, 0, 0.4); }
  .site-header__Xb4nv:before, .site-header__Xb4nv:after {
    content: " ";
    display: table; }
  .site-header__Xb4nv:after {
    clear: both; }
  @media (min-width: 768px) {
    .site-header__Xb4nv {
      position: relative; } }
  .site-header__Xb4nv .site-nav__2rCxq {
    position: relative;
    padding: 2.5px 15px 2.5px 15px;
    color: #2C3235;
    text-align: center;
    zoom: 1; }
    .site-header__Xb4nv .site-nav__2rCxq:before, .site-header__Xb4nv .site-nav__2rCxq:after {
      content: " ";
      display: table; }
    .site-header__Xb4nv .site-nav__2rCxq:after {
      clear: both; }
  .site-header__Xb4nv .site-nav__header__32ZZk {
    padding-bottom: 5px;
    font-family: "Monofett", sans-serif;
    font-size: 10vw;
    line-height: 80%;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    @media (min-width: 768px) {
      .site-header__Xb4nv .site-nav__header__32ZZk {
        padding-bottom: 15px; } }
    @media (min-width: 1280px) {
      .site-header__Xb4nv .site-nav__header__32ZZk {
        padding-bottom: 0; } }
    .site-header__Xb4nv .site-nav__header__32ZZk a {
      text-decoration: none;
      color: #2C3235;
      -webkit-transition: 0.5s;
      transition: 0.5s; }
  .site-header__Xb4nv .site-nav__subhead__3vQ_P {
    display: none;
    font-family: "Droid Serif", serif;
    font-weight: 400;
    font-size: 1.8vw;
    line-height: 2vw;
    color: #FEFEFE;
    text-transform: uppercase;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    @media (min-width: 1280px) {
      .site-header__Xb4nv .site-nav__subhead__3vQ_P {
        display: block; } }

.site-nav__mobile__1c-nk {
  position: absolute;
  float: right;
  top: 0;
  right: 15px;
  font-size: 5vw;
  margin-top: 10px;
  margin-bottom: 25px;
  cursor: pointer; }
  @media (min-width: 768px) {
    .site-nav__mobile__1c-nk {
      display: none; } }

.site-nav__menu__3RDUY {
  height: 40px;
  display: none; }
  .site-nav__menu__3RDUY.open__23mx_ {
    display: block; }
  @media (min-width: 768px) {
    .site-nav__menu__3RDUY {
      display: block; } }

.site-nav__authors__2qSr8 {
  width: 100%;
  text-align: right; }

.site-nav__author__gRl2z {
  display: inline-block;
  position: relative;
  vertical-align: top; }
  .site-nav__author__gRl2z .site-nav__author-item__2XLUF {
    margin-left: 15px;
    cursor: pointer; }
    .site-nav__author__gRl2z .site-nav__author-item__2XLUF .fa__Y2MRr {
      font-size: 11px;
      vertical-align: middle; }
  .site-nav__author__gRl2z .site-nav__sublist__3Cm9j {
    display: none;
    position: absolute;
    right: 0;
    top: 25px;
    background-size: cover;
    width: 100%;
    padding-top: 15px;
    border-radius: 3px;
    width: 100px;
    box-shadow: 2px 6px 14px -5px rgba(0, 0, 0, 0.2); }
    .site-nav__author__gRl2z .site-nav__sublist__3Cm9j a {
      color: #2C3235; }
    .site-nav__author__gRl2z .site-nav__sublist__3Cm9j.js-menu__rBV7R.active__IukiL {
      display: inline-block; }
  .site-nav__author__gRl2z .site-nav__sublist-item__3NRBf {
    padding-right: 15px;
    padding-bottom: 15px; }
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@-webkit-keyframes enter__3A7BO {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes enter__3A7BO {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.inner__ONQCz {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 1200px; }

body {
  font-family: "Droid Serif", serif;
  -webkit-font-smoothing: antialiased; }

a {
  text-decoration: none; }

/* Base Styles
-------------------------------------------------------- */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box; }

@-webkit-keyframes bugfix__3XxG7 {
  from {
    padding: 0; }
  to {
    padding: 0; } }

/* Resets
---------------------*/
*,
*:before,
*:after {
  box-sizing: border-box; }

/* Headers
---------------------*/
ul {
  padding-left: 0; }

ol, li {
  list-style-type: none; }

/* Paragraph
---------------------*/
/* Links
---------------------*/
a {
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  a:hover {
    text-decoration: none; }
  a:active, a:focus {
    text-decoration: none;
    outline: none; }
  .no-touch__3FiaI a:hover {
    text-decoration: none; }

button:focus {
  outline: 0; }
@-webkit-keyframes enter__3y05N {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes enter__3y05N {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.site-container__3-gU7 {
  zoom: 1;
  width: 100%; }
  .site-container__3-gU7:before, .site-container__3-gU7:after {
    content: " ";
    display: table; }
  .site-container__3-gU7:after {
    clear: both; }

.site-content__1f5Ae {
  zoom: 1;
  position: relative; }
  .site-content__1f5Ae:before, .site-content__1f5Ae:after {
    content: " ";
    display: table; }
  .site-content__1f5Ae:after {
    clear: both; }
@-webkit-keyframes enter__Iw1cX {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes enter__Iw1cX {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.post-item__W3Bwp,
.author-bio__1Z4eD {
  position: relative;
  display: block;
  padding: 10px 10px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 25px;
  padding-left: 25px; }
  @media (min-width: 768px) {
    .post-item__W3Bwp,
    .author-bio__1Z4eD {
      padding-right: 15px;
      padding-left: 15px; } }
  .post-item__W3Bwp .post-item__content__Ts1h3,
  .author-bio__1Z4eD .post-item__content__Ts1h3 {
    zoom: 1;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 3px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: enter__Iw1cX;
    animation-name: enter__Iw1cX;
    background-color: #FEFEFE;
    box-shadow: 0px 4px 13px -2px rgba(0, 0, 0, 0.4); }
    .post-item__W3Bwp .post-item__content__Ts1h3:before, .post-item__W3Bwp .post-item__content__Ts1h3:after,
    .author-bio__1Z4eD .post-item__content__Ts1h3:before,
    .author-bio__1Z4eD .post-item__content__Ts1h3:after {
      content: " ";
      display: table; }
    .post-item__W3Bwp .post-item__content__Ts1h3:after,
    .author-bio__1Z4eD .post-item__content__Ts1h3:after {
      clear: both; }
  .post-item__W3Bwp .post-item__header__GjLFO,
  .author-bio__1Z4eD .post-item__header__GjLFO {
    zoom: 1;
    margin-top: 10px;
    margin-bottom: 10px; }
    .post-item__W3Bwp .post-item__header__GjLFO:before, .post-item__W3Bwp .post-item__header__GjLFO:after,
    .author-bio__1Z4eD .post-item__header__GjLFO:before,
    .author-bio__1Z4eD .post-item__header__GjLFO:after {
      content: " ";
      display: table; }
    .post-item__W3Bwp .post-item__header__GjLFO:after,
    .author-bio__1Z4eD .post-item__header__GjLFO:after {
      clear: both; }
  .post-item__W3Bwp .post-item__avatar__2aLv8,
  .author-bio__1Z4eD .post-item__avatar__2aLv8 {
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: 125%;
    border: 1px solid fade(#C8C5C7, 75); }
  .post-item__W3Bwp .post-item__author-tag__1a1O3,
  .author-bio__1Z4eD .post-item__author-tag__1a1O3 {
    color: #3A4145;
    font-size: 13px;
    background-color: #C8C5C7;
    padding: 4px;
    border-radius: 2px;
    font-family: "Open Sans", sans;
    letter-spacing: -0.5px;
    text-transform: uppercase; }
  .post-item__W3Bwp .post-item__content-meta__2WdXW,
  .author-bio__1Z4eD .post-item__content-meta__2WdXW {
    float: right;
    font-size: 18px;
    line-height: 1.4;
    font-family: "Roboto Slab", serif;
    font-weight: 300;
    color: fade(#3A4145, 90); }
  .post-item__W3Bwp .post-item__content-timestamp__1COwB,
  .author-bio__1Z4eD .post-item__content-timestamp__1COwB {
    padding-top: 5px;
    display: block;
    text-align: right;
    color: #3A4145;
    font-size: 15px; }
  .post-item__W3Bwp .post-item__content-author__14zht,
  .author-bio__1Z4eD .post-item__content-author__14zht {
    display: block;
    text-align: right; }
    .post-item__W3Bwp .post-item__content-author__14zht a:hover,
    .author-bio__1Z4eD .post-item__content-author__14zht a:hover {
      color: fade(#2C3235, 90); }
    .post-item__W3Bwp .post-item__content-author__14zht a .fa__A8WZX,
    .author-bio__1Z4eD .post-item__content-author__14zht a .fa__A8WZX {
      color: #2A95D6; }
  .post-item__W3Bwp .post-item__content-image__5Az2R,
  .author-bio__1Z4eD .post-item__content-image__5Az2R {
    height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: cover;
    overflow: hidden; }
    @media (min-width: 768px) {
      .post-item__W3Bwp .post-item__content-image__5Az2R,
      .author-bio__1Z4eD .post-item__content-image__5Az2R {
        height: 330px; } }
  .post-item__W3Bwp .post-item__content-title__1Mc6z,
  .author-bio__1Z4eD .post-item__content-title__1Mc6z {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
    font-family: "Open Sans", sans;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.8);
    font-size: 28px;
    line-height: 1.12;
    letter-spacing: -0.022em; }
    @media (min-width: 768px) {
      .post-item__W3Bwp .post-item__content-title__1Mc6z,
      .author-bio__1Z4eD .post-item__content-title__1Mc6z {
        font-size: 3vw; } }
  .post-item__W3Bwp .post-item__content-body__2SdKH,
  .author-bio__1Z4eD .post-item__content-body__2SdKH {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 300;
    letter-spacing: -0.004em;
    font-family: "Roboto Slab", serif;
    font-weight: 300;
    font-style: normal;
    color: #2C3235; }
    @media (min-width: 768px) {
      .post-item__W3Bwp .post-item__content-body__2SdKH,
      .author-bio__1Z4eD .post-item__content-body__2SdKH {
        font-size: 2vw;
        margin-left: 20px;
        margin-right: 20px;
        line-height: 1.5em; } }
  .post-item__W3Bwp a,
  .author-bio__1Z4eD a {
    text-decoration: none;
    color: #2C3235; }
    .post-item__W3Bwp a:hover,
    .author-bio__1Z4eD a:hover {
      color: fade(#3A4145, 90); }
  .post-item__W3Bwp .fa-circle__3SXxd,
  .author-bio__1Z4eD .fa-circle__3SXxd {
    font-size: 4px;
    vertical-align: middle;
    color: fade(#3A4145, 90); }
  .post-item__W3Bwp .post-item__content-social__2Qbm8,
  .author-bio__1Z4eD .post-item__content-social__2Qbm8 {
    margin-bottom: 10px; }
    .post-item__W3Bwp .post-item__content-social__2Qbm8 a,
    .author-bio__1Z4eD .post-item__content-social__2Qbm8 a {
      color: #3A4145; }
      .post-item__W3Bwp .post-item__content-social__2Qbm8 a .fa__A8WZX,
      .author-bio__1Z4eD .post-item__content-social__2Qbm8 a .fa__A8WZX {
        color: #2A95D6; }
      .post-item__W3Bwp .post-item__content-social__2Qbm8 a:hover,
      .author-bio__1Z4eD .post-item__content-social__2Qbm8 a:hover {
        color: fade(#3A4145, 90); }

.author-bio__1Z4eD {
  background-color: #FEFEFE;
  margin-top: 25px; }
  .author-bio__1Z4eD .author-bio__content__SFr2N {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px; }
    @media (min-width: 768px) {
      .author-bio__1Z4eD .author-bio__content__SFr2N {
        padding-top: 20px;
        padding-bottom: 20px; } }
  .author-bio__1Z4eD .post-item__avatar__2aLv8 {
    margin-right: 15px; }
  .author-bio__1Z4eD .post-item__content-body__2SdKH {
    font-size: 15px; }
    @media (min-width: 768px) {
      .author-bio__1Z4eD .post-item__content-body__2SdKH {
        font-size: 1.8vw; } }
@-webkit-keyframes enter__2-rGb {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes enter__2-rGb {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.blog-posts__1r-gm {
  position: relative;
  padding-top: 65px;
  padding-bottom: 50px;
  zoom: 1;
  width: 100%;
  text-align: center; }
  .blog-posts__1r-gm:before, .blog-posts__1r-gm:after {
    content: " ";
    display: table; }
  .blog-posts__1r-gm:after {
    clear: both; }
  @media (min-width: 768px) {
    .blog-posts__1r-gm {
      margin-left: auto;
      margin-right: auto;
      padding-top: 25px;
      max-width: 750px; } }
