@import url('./global/mixins.less');

@font-serif:              'Droid Serif', serif;
@font-sans-serif:         'Monofett', sans-serif;
@font-book:               'Roboto Slab', serif;
@font-sans:               'Open Sans', sans;

@mobile:                  ~'min-width: 320px';
@break:                   ~'min-width: 600px';
@tablet-portrait:         ~'min-width: 768px';
@tablet:                  ~'min-width: 1024px';
@desktop:                 ~'min-width: 1025px';
@desktop-md:              ~'min-width: 1440px';
@desktop-lg:              ~'min-width: 1920px';


@tx-light:                #FEFEFE;
@bg-light:                #FEFEFE;
@tx-dark:                 #2C3235;
@bg-dark:                 #2C3235;
@tx-grey:                 #C8C5C7;
@bg-grey:                 #C8C5C7;


@font-family: @font-serif;

@xs:                      400px;
@sm:                      600px;
@md:                      800px;
@lg:                      1000px;
@max:                     1200px;
@mobile:                  320px;
@tablet:                  768px;
@desktop:                 1280px;
@desktop-md:              1440px;
@desktop-lg:              1920px;

@bg-main-light:           #FEFEFE;
@bg-main-dark:            #2C3235;
@bg-grey-light:           #C8C5C7;
@bg-grey-dark:            #3A4145;

@tx-main-light:           @bg-main-light;
@tx-main-dark:            @bg-main-dark;
@tx-grey-light:           @bg-grey-light;
@tx-grey-dark:            @bg-grey-dark;

@bg-header:               @bg-grey-light;
@tx-header:               @tx-main-dark;


@tx-post-title:           rgba(0,0,0,0.8);
@tx-post-social:          #2A95D6;

@tx-color-0:              @tx-main-dark;
@tx-color-1:              @tx-main-light;
@tx-color-grey:           @bg-header;


@black:                   @tx-color-0;
@white:                   @tx-color-1;
@grey:                    @tx-color-grey;

@serif:                   @font-serif;
@sansserif:               @font-sans-serif;