.x-fading-circle {
  margin: 2em auto;
  width: 40px;
  height: 40px;
  position: relative;
}

@media(min-width: 767px) {
  .x-fading-circle {
    height: 60px;
    width: 60px;
  }
}

.circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.loading {
  margin: 15% auto;
}

.circle::before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #CACACA;
  border-radius: 100%;
  animation: x-circleFadeDelay 1.2s infinite ease-in-out both;
}

.x-circle2 {
  composes: circle;
  transform: rotate(30deg);
}

.x-circle3 {
  composes: circle;
  transform: rotate(60deg);
}

.x-circle4 {
  composes: circle;
  transform: rotate(90deg);
}

.x-circle5 {
  composes: circle;
  transform: rotate(120deg);
}

.x-circle6 {
  composes: circle;
  transform: rotate(150deg);
}

.x-circle7 {
  composes: circle;
  transform: rotate(180deg);
}

.x-circle8 {
  composes: circle;
  transform: rotate(210deg);
}

.x-circle9 {
  composes: circle;
  transform: rotate(240deg);
}

.x-circle10 {
  composes: circle;
  transform: rotate(270deg);
}

.x-circle11 {
  composes: circle;
  transform: rotate(300deg);
}

.x-circle12 {
  composes: circle;
  transform: rotate(330deg);
}

.x-circle2::before {
  animation-delay: -1.1s;
}

.x-circle3::before {
  animation-delay: -1s;
}

.x-circle4::before {
  animation-delay: -0.9s;
}

.x-circle5::before {
  animation-delay: -0.8s;
}

.x-circle6::before {
  animation-delay: -0.7s;
}

.x-circle7::before {
  animation-delay: -0.6s;
}

.x-circle8::before {
  animation-delay: -0.5s;
}

.x-circle9::before {
  animation-delay: -0.4s;
}

.x-circle10::before {
  animation-delay: -0.3s;
}

.x-circle11::before {
  animation-delay: -0.2s;
}

.x-circle12::before {
  animation-delay: -0.1s;
}

@keyframes x-circleFadeDelay {
  0%,
  39%,
  100% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }
}
