.root {
  min-height: 100vh;
  width: 100%;
  zoom: 1;
  background-repeat: repeat;
}
.root:before,
.root:after {
  content: " ";
  display: table;
}

.root:after {
  clear: both;
}

.root {
  min-height: 100vh;
  width: 100%;
  zoom: 1;
}
.root:before,
.root:after {
  content: " ";
  display: table;
}
.root:after {
  clear: both;
}

.content {
  position: relative;
  min-height: 100vh;
  padding-top: 15px;
  padding-bottom: 30px;
  zoom: 1;
  background-repeat: repeat;
}
.content:before,
.content:after {
  content: " ";
  display: table;
}
.content:after {
  clear: both;
}

.content {
  position: relative;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 30px;
  zoom: 1;
  background-repeat: repeat;
}
.content:before,
.content:after {
  content: " ";
  display: table;
}
.content:after {
  clear: both;
}

.posts {
  position: relative;
  width: 100%;
  zoom: 1;
}
.posts:before,
.posts:after {
  content: " ";
  display: table;
}
.posts:after {
  clear: both;
}

@media(min-width: 1024px) {
  .posts {
    float: left;
    width: 70%;
  }
}

.item {
  display: block;
  position: relative;
  margin: 0 15px 40px 15px;
  padding: 15px;
  max-width: 750px;
  border-radius: 1px;
  background-color: #FEFEFE;
  box-shadow: 0px 1px 2px -2px rgba(0,0,0,0.4);
}

.item a {
  text-decoration: none;
  color: #2C3235;
}

@media (min-width: 767px) {
  .item {
    margin: 0 auto 40px;
  }
}